.status.doing {
    .task ^project.flatlite +complete
    .task.123 This is the task name

    body """
        Here is a bunch of stuff
    """
}


/**
+recipe Chicken Spaghetti

++ingredient |food: ^food.chicken_mince| |amount: 500g|
++ingredient |food: ^food.onion| |amount: 2|
++ingredient |food: ^food.garlic| |amount: 2|
++ingredient |food: ^food.zucchini| |amount: 1|

---
Some body text
---

*/

.recipe Chicken Spaghetti {
    .ingredient ^food.chicken_mince amount=(g)100
    .ingredient ^food.onion amount=1
    .ingredient ^food.garlic amount=2

    body """
      - Step 1: Do the thing
      - Step 2: Do another thing
    """
}

.recipe Chickpea Dal {
    .ingredient ^food.canned_chickpeas amount="1 can"
    .ingredient ^food.onion amount=1
}